/* Estilos para o header */
.header {
  background-color: #111111;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: padding 0.3s ease-in-out;
}

.logo img {
  height: 220px;  /* Aumentando o tamanho da logo */
}

.navbar {
  display: flex;
  gap: 10rem;  /* Maior espaçamento entre os links */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  margin-right: 100px;
}

.nav-links a:hover {
  color: #6a0dad;
}

.cta-button .button {
  background-color: #6a0dad;
  color: #fff;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button .button:hover {
  background-color: #510985;
}

/* Responsividade para tablets e celulares grandes */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem; /* Ajuste no padding */
  }

  .navbar {
    flex-direction: column;  /* Coloca os links em coluna */
    gap: 1rem;  /* Espaçamento entre os links */
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    padding: 0;
  }

  .logo img {
    height: 120px; /* Ajuste na altura da logo */
  }

  .cta-button a {
    padding: 10px 15px;
    font-size: 14px;
  }

  .project-card,
  .video-container {
    width: 100%;
  }
}

/* Responsividade para celulares pequenos */
@media (max-width: 480px) {
  .navbar {
    gap: 0.8rem;  /* Menor espaçamento */
  }

  .logo img {
    height: 100px;  /* Reduzindo a logo */
  }

  .cta-button a {
    font-size: 12px;
    padding: 8px 12px;
  }
}
